<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>Any CPU</Platform>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <TargetFramework>net8.0-windows</TargetFramework>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <IncludeNativeLibrariesForSelfExtract>true</IncludeNativeLibrariesForSelfExtract>
    <EnableCompressionInSingleFile>true</EnableCompressionInSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <DebugType>None</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <DeleteExistingFiles>true</DeleteExistingFiles>
    <PublishDir>D:\Source\Release\NaverPropertyRanking_Blog\</PublishDir>
    <PublishUrl>D:\Source\Release\NaverPropertyRanking_Blog\</PublishUrl>
  </PropertyGroup>
  <ItemGroup>
    <Content Update="appsettings.json" CopyToPublishDirectory="Always" />
    <Content Update="Assets\ranking-icon.ico" CopyToPublishDirectory="Never" />
  </ItemGroup>
</Project>
